* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background: #4b4949;
  color: #f5f5dc;
  font-size: 30px;
  text-align: left;
  letter-spacing: 5px;
  text-shadow: 5px 5px 10px black;
}

header {
  padding-top: 20px;
  background-color: #2e2d2d;
}

h1 {
  font-size: clamp(2rem, 11vw, 9rem);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.nav {
  margin-left: auto;
  margin-right: auto;
  background-color: #2e2d2d;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  font-weight: bold;
}

.nav__item {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}

.nav-toggle {
  display: none;
  font-size: 90px;
  background: none;
  border: none;
  color: #f5f5dc;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 20px;
}

@media (max-width: 700px) {
  .nav {
    flex-direction: column;
    align-items: center;
    display: none; 
  }

  .nav__item {
    display: block;
    padding: 10px;
    text-align: center;
  }

  .nav-toggle {
    display: block;
  }

  .nav.open {
    display: flex;
  }
}

h2 {
  font-size: clamp(2rem, 8vw, 6rem);
  font-weight: lighter;
  color: white;
  text-align: center;
  margin: 50px;
  padding: 20px;
  margin-top: 100px;
}


.nav__item:hover {
  background-color: red;
}

.nav__item.active {
  background-color: red;
}

.search-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 30px;
}

.search-container input {
  padding: 10px 60px;
  border-radius: 10px;
  font-size: 20px;
  margin: 5px;
}

.search-container button {
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 15px;
}

.main-article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  word-spacing: 3px;
  color: #ffffff;
  max-width: 640px;
}

.main-article img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.main-article h3 {
  color: #f5f5dc;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 18px;
}

.main-article p {
  margin-bottom: 40px;
}

.main-article a {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #ffea00;
  color: #ffea00;
  padding: 15px 25px;
  font-size: 30px;
  text-decoration: none;
}


.featured-news__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.featured-news__list article {
  color: #ffffff;
  background-color: #2e2d2d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 30%;
  min-width: 180px;
  word-spacing: 0px;
}

.featured-news__list article:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  opacity: 0.9;
}

.featured-news__list img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.featured-news__list h3 {
  margin-top: 10px;
  font-size: 1.8rem;
}

.featured-news__link {
  text-decoration: none;
  color: #ffffff;
}
