/* Återställer standardmarginaler/padding och använder border-box för att inkludera padding i elementets storlek */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* Tungläst typsnitt */
}

/* Ställer in bakgrundsfärg, textfärg och textstil för hela sidan */
body {
  background: rgb(75, 73, 73);
  color: #f5f5dc;
  font-size: 30px;
  text-align: left;
  letter-spacing: 5px;
  word-spacing: 15px;
  text-shadow: 5px 5px 10px black;
}

header {
  padding-top: 20px;
  background-color: #2e2d2d;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 80px;
}

/* Rubrik med stor text och mörkröd färg, justerad till höger */
h2 {
  font-size: 80px;
  font-weight: lighter;
  color: red;
  text-align: center;
  margin: 50px;
  padding: 20px;
  margin-top: 100px;
}

/* Navigeringsmeny med mörk bakgrund och jämnt fördelade element */
.nav {
  background-color: #2e2d2d;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  font-weight: bold;
}

/* Navigeringslänkar */
.nav__item {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}

/* Bakgrundsfärg vid hover på navigationslänkar */
.nav__item:hover {
  background-color: red;
}

.nav__item.active {
  background-color: red;
}

.search-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 30px;
}

.search-container input {
  padding: 10px 60px;
  border-radius: 10px;
  font-size: 20px;
  margin: 5px;
}

.search-container button {
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 15px;
}

.main-article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  word-spacing: 3px;
  color: #ffffff;
  max-width: 640px;
}

.main-article h3 {
  color: #f5f5dc;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 18px;
}

.main-article p {
  margin-bottom: 40px;
}

.main-article a {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: red;
  color: red;
  padding: 15px 25px;
  font-size: 30px;
  text-decoration: none;
}


.featured-news__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 80px;
}

.featured-news__list article {
  color: #ffffff;
  background-color: #2e2d2d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 180px;
  word-spacing: 0px;
  text-align: center;
}

.featured-news__list article:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.featured-news__list img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.featured-news__list h3 {
  margin-top: 10px;
  font-size: 1.8rem;
}
